{% extends "base.html" %}
{% block content %}

<div class="container" id="body">

<div class="row">
	<div class="col-md-4">
		<button class="btn btn-success" id="addnew">Add new Post</button>
	</div>
	<div class="col-md-8">
		<p id="userinfo"><b>Gurjot </b><a href="/logout">Logout</a></p>
	</div>
</div>

<div class="row" >
	<div class="col-md-12" style="background-color: red;height:200px;margin-top: 10px;">gurjot</div>
</div>


<div class="row" >
	<div class="col-md-12" style="background-color: red;height:200px;margin-top: 10px;">gurjot</div>
</div>


<div class="row" >
	<div class="col-md-12" style="background-color: red;height:200px;margin-top: 10px;">gurjot</div>
</div>


<div class="row" >
	<div class="col-md-12" style="background-color: red;height:200px;margin-top: 10px;">gurjot</div>
</div>


<div class="row" >
	<div class="col-md-12" style="background-color: red;height:200px;margin-top: 10px;">gurjot</div>
</div>


<div class="row" >
	<div class="col-md-12" style="background-color: red;height:200px;margin-top: 10px;">gurjot</div>
</div>



<div class="row" >
	<div class="col-md-12" style="background-color: red;height:200px;margin-top: 10px;">gurjot</div>
</div>



<div class="row" >
	<div class="col-md-12" style="background-color: red;height:200px;margin-top: 10px;">gurjot</div>
</div>



<div class="row" >
	<div class="col-md-12" style="background-color: red;height:200px;margin-top: 10px;">gurjot</div>
</div>



<div class="row" >
	<div class="col-md-12" style="background-color: red;height:200px;margin-top: 10px;">gurjot</div>
</div>


</div>
{% endblock %}